
.signIn_wraper {
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.signIn_contaniner {
    width: 430PX;
    height: auto;
    padding: 10px;
    margin: 40px auto;
    background: rgb(245, 245, 245);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.signIn_contaniner:hover{
    width: 440px;
}

.signIn_wraper {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    gap: 10px;
}

.signIn_wraper h3 {
    font-size: 1.4em;

    text-transform: capitalize;
    letter-spacing: 1px;
}

.signIn_wraper input {
    width: 100%;
    height: 35px;
}

.signIn_wraper p {
    font-size: 0.9em;
    line-height: 22px;
}

.signIn_wraper label {
    font-size: 1em;
    
}

.btn_signIn {
    font-size: 1.1em;
    background: rgb(99, 196, 234);
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.btn_signIn:hover{
    background: white;
    width: 99%;
    color: black;
}