* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 5px 20px;
}

header {
    padding: 0 5px;
}

.nav_bar {
    display: flex;
    width: 100%;
    background: rgb(255, 255, 255);
    position: relative;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

/* ***********
        * logo start 
        *************/
.logo #logo1 {
    font-size: 16px;
    font-weight: 800px;
    color: white;
    background: black;
    padding: 0;
    margin: 0;
}

.logo #logo2 {
    font-size: 35px;
    font-weight: bolder;
    color: rgb(223, 180, 180);
    padding: 0;
    margin: 0;
    border: 1px solid;
}

#logo2 samp {
    font-size: 45px;
    font-weight: 200px;
    padding: 0;

}

/* ***********
         * logo end 
         *************/

/* ***********
        * nav_search_box 
        *************/
.search_box {
    display: flex;
    margin: auto 0;
    height: 45px;
    line-height: 35px;
    border: 1px solid;
}

.search_box input {
    border: none;
    outline: none;
    background-color: #fff;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 560px;
}

.search_box span {
    display: flex;
    align-items: center;
    color: #0a5071;
    font-size: 20px;
    background: #fff;
    cursor: pointer;
    height: 100%;
    padding: 8px;
    position: relative;
    z-index: 1;
}

        /********************
         * nav_search_box end 
         *********************/

        /************
         * nav_list
         *************/
.nav_list ol {
    display: flex;
    list-style: none;
    margin: auto 0;

}

.nav_list ol li {
    margin: 0 2px;

}

.nav_list ol li a {
    color: black;
    font-size: 25px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
}

.nav_list ol li:hover a {
    background: black;
    color: #fff;
    border-radius: 4px;
}

/* ***********
         * nav_list end 
         *************/

/* ***********
          * nav_second
          *************/
.nav_second ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px;
    list-style: none;
    font-size: 1.5em;
    font-weight: 200;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.nav_second ul a {
    text-decoration: none;
    padding: 5px 10px;
}

.nav_second ul li a:hover {
    border-bottom: 1px solid #000000;
    color: blue;
    border-radius: 4px;

}

/****************
    * nav_second_end
    *****************/

 /* main content */
 .container_1{
    height: auto;
    margin-top: 30px;
 }

.img{
        width: 100%;
        margin:20px 0;
    }
.img img {
    width: 100%;

}

        /* swiper */

.mySwiper{
    display: flex;
    align-items: center;
    justify-content: center;
    /* min-height: 100vh; */
    border: 2px solid;
    /* background-color: blue; */
    padding: 0 35px;
}
.wrapper{
    max-width: 1100px;
    width: 100%;
}
.wrapper i {
    height: 50px;
    width: 50px;
    background: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 100%;
    transform: translatev(-50%);
    font-size: 2rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    
}
.wrapper i:first-child{
left: 16%
}

.wrapper i:last-child{
    right: 16%;
}

.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100%/1) -12px);
    gap: 16px;
    overflow: hidden;
}
.carousel .card{
    list-style: none;
    border-radius: 8px; 
}
.card .img img{
    width: 1100px;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}






   





    /*-----------------*
    *      footer      *
    *------------------*/


.email_update {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 20px;;
    padding: 35px 0;
    background-color: rgb(196, 196, 126)
}

.email_box{
    margin-left:auto
}

.email_update label{
    font-size: 1.5em;
    font-weight: 200;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.email_update input{
    outline: none;
    background-color: #fff;
    height: 50px;
    padding: 0 10px;
    font-size: 20px;
    width: 300px;
}
.btn input{
    outline: none;
    background-color: #135bd7;
    height:50px;
    padding: 0 10px;
    font-size: 20px;
    width: 250px;
    border: 1px solid;
    margin-left: 10px;
    color: white;
    font-weight: 600px;
    
}

.foter-text{
    display:grid;
    column-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    height: auto;
    column-gap: 20px;
    background: #f5f1f1;
}

.footer_text_box{
    padding: 10px;
}

.footer_text_box h3{
color: black;
font-size: 1.2em
}
.footer_text_box p{
    font-size: 1.2em;
    line-height: 26px;
}

.footer_text_box p:hover{
    border-bottom: #135bd7;
    color:black;
    background: white;
}
.copyRight{
    width: 100%;
    height: 50px;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.copyRight div{
    font-size: 1.2em;
}