*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav_bar{
    display: flex;
    width: 100%;
    background: rgb(1, 0, 0);
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px ;
}
        /* ***********
        * logo start 
        *************/
.logo #logo1{
    font-size: 16px;
    font-weight: 800px;
    color: white;
    background: black;
    padding: 0;
    margin: 0;
}

.logo #logo2{
    font-size: 35px;
    font-weight: bolder;
    color:rgb(223, 180, 180);
    padding: 0;
    margin: 0;
    border: 1px solid;
}
#logo2 samp{
    font-size: 45px;
    font-weight: 200px;
    padding: 0;

}
        /* ***********
         * logo end 
         *************/

        /* ***********
        * nav_search_box 
        *************/
.search_box{
    display: flex;
    margin: auto 0;
    height: 45px;
    line-height: 35px;
}

.search_box input{
    border: none;
    outline: none;
    background-color: #fff;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    width: 560px;
}

.search_box span{
    display: flex;
    align-items: center;
    color: #0a5071;
    font-size: 20px;
    background: #fff;
    cursor: pointer;
    height: 100%;
    padding: 8px;
    position: relative;
    z-index: 1;
}

        /* *******************
         * nav_search_box end 
         *********************/

          /* ***********
          * nav_list
          *************/
 .nav_list ol{
    display: flex;
    list-style: none;
    margin: auto 0;

}

.nav_list ol li{
    margin: 0 2px;

}

.nav_list ol li a{
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
}

.nav_list ol li:hover a{
    background: #fff;
    color: black;
    border-radius: 4px;
}

        /* ***********
         * nav_list end 
         *************/

